@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: white;
    --text-color: black;
  }
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.mySwiper img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.mySwiper h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10px;
  color: #333;
}
